<h1>Grid Of Cards Example</h1>
<p>The grid below uses empty divs above and below to create space on each side.</p>
<p>Almost every container uses a grid. This is mostly responsive.</p>
<hr />
<div></div>
<div class="grid">
  <div *ngFor="let number of range(30)" class="grid-item">
    <img class="score-image" src="assets/img/apple.png" alt="Unit Cover Image" />
    <span class="score-title"> Unit 1 Score </span>
    <span class="score-ratio"> 23/50</span>
    <span class="score-percent">100%</span>
  </div>
</div>
<div></div>
